:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem;

    --table-header-height: 40.8px;
    --table-footer-height: 56px;
    --graph-width: 100vw;
    --graph-height: calc(var(--graph-width) / 2);

    --table-height: 450px;

    --input-background-color: rgb(247, 247, 247);
    --container-background-color: rgb(243, 243, 243);
    --container-border-color: rgb(204, 204, 204);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Styling */

.dist-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;

    min-width: 300px;
    width: 95%;
    max-width: 450px;
    box-sizing: border-box;

    border-radius: 0.5rem;
    border: 1px solid var(--container-border-color);
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
    background-color: var(--container-background-color);
}

.dist-parameters {
    display: flex;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
}

.input-container > label {
    padding: 0.5rem;
}

input, select, button {
    background-color: var(--input-background-color);
    border: 1px solid var(--container-border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
    
    min-width: 80px;
    width: 100%;
    max-width: 150px;
}

/* Output Styling */

.dist-output {
    display: flex;
    justify-content: center;
    width: calc(100vw - 17px);
    flex-wrap: wrap;
}

/* Graph Styling */

.dist-graph {
    flex-grow: 1;
    min-width: 300px; /* Minimum width for the graph */
    width: 100%;
    max-width: var(--graph-width);
    margin: 0.25rem;
}

@media (min-aspect-ratio: 5/3) {
    :root {
        --graph-width: calc(100vw - 450px);
        --table-height: var(--graph-height);
    }
}

.dist-graph > svg {
    background-color: var(--container-background-color);
    border: 1px solid var(--container-border-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
    box-sizing: border-box;
}

.bar {
    fill: steelblue;
}

.bar.selected {
    fill: rgb(180, 70, 70);
}

.bar:hover {
    filter: brightness(0.7);
}

/* Tooltip Stylinh */

#tooltip {
    opacity: 0;
    transition: opacity 0.2s;
    position: fixed;
    padding: 0.3rem;

    background-color: rgb(44, 44, 44);
    color: white;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.13);
}

#tooltip > label {
    font-size: 0.7rem;
}

#tooltip-val {
    font-size: 0.9rem;
}

/* Table Styling */

table {
    border-collapse: collapse;
    flex-grow: 1;
    width: 100%;
}

thead {
    border-bottom: 1px solid var(--container-border-color);
    background-color: rgb(221, 221, 221);
}

tfoot {
    border-top: 1px solid var(--container-border-color);
}

td {
    background-color: var(--container-background-color);
}

tbody tr:hover {
    filter: brightness(0.95);
}

.prob-tables {
    display: flex;
    flex-grow: 1;
}

.container {
    overflow: hidden;
    margin: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--container-border-color);
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
    background-color: var(--container-background-color);
    flex-grow: 1;
    box-sizing: border-box;
}

.prob-tables .container {
    height: var(--table-height);
}

.prob-table td, .prob-table th {
    min-width: 75px;
    width: 50%;
    padding: 0.7rem;
    text-align: left;
}

.prob-table th:nth-child(1), .prob-table td:nth-child(1) {
    min-width: 30px;
}

.prob-table tbody {
    display: block;
    overflow: auto;
    scrollbar-gutter: stable;
    height: calc(var(--table-height) - var(--table-header-height) - var(--table-footer-height));
}

.prob-table thead tr {
    display: block;
}

/* Dist Value Styling */

.dist-output .container, .value-inputs > .input-container {
    flex: 1;
}

.dist-value {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    padding: 1rem 0.5rem;
}

.value-inputs {
    display: flex;
    justify-content: left;
}

.value-inputs input {
    width: 7rem;
}

.value-select {
    margin: 0.5rem;
    flex-grow: 2;
    min-width: 5rem;
}

select:hover, button:hover {
    cursor: pointer;
}

.value-output {
    width: 8rem;

    padding: 0.5rem;
    height: 33.6px;
    box-sizing: border-box;

    background-color: rgb(212, 145, 145);
    border-radius: 0.5rem;
    border: 1px solid rgb(147, 57, 57);
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
    margin: 0.5rem 0rem 0.5rem 2rem;
}

/* Dist Properties Styling */

.dist-properties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    min-width: 212px;
}

.dist-prop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem 1rem;
    height: 40px;
    max-width: 12rem;
}

.prop-value {
    margin-left: 0.5rem;
    padding: 0.5rem;

    background-color: var(--input-background-color);
    font-weight: bold;

    border-radius: 0.5rem;
    border: 1px solid var(--container-border-color);
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.041);
}

.prop-label {
    font-style: italic;
}